[submodule "public"]
	path = public
	url = git@github.com:OrionPax19970905/hexo_OrionPax19970905.github.io.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
